.elementor-117 .elementor-element.elementor-element-ca1e194 {
    margin-top: 0px;
    margin-bottom: -100px;
}

.elementor-bc-flex-widget .elementor-117 .elementor-element.elementor-element-ad9f4ff.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-117 .elementor-element.elementor-element-ad9f4ff.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-117 .elementor-element.elementor-element-cdd5761 .hfe-site-logo-container,
.elementor-117 .elementor-element.elementor-element-cdd5761 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-117 .elementor-element.elementor-element-cdd5761 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-117 .elementor-element.elementor-element-cdd5761 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-117 .elementor-element.elementor-element-ad48619.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-117 .elementor-element.elementor-element-ad48619.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item.highlighted,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item a.hfe-menu-item:focus {
    color: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .elementor-menu-toggle,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: var( --e-global-color-dad16fc);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .elementor-menu-toggle:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
    color: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active {
    color: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu {
    border-radius: 0px 0px 30px 30px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li.menu-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li.menu-item:last-child {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown {
    border-radius: 0px 0px 30px 30px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li.menu-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li.menu-item:last-child {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible {
    border-radius: 0px 0px 30px 30px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li.menu-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li.menu-item:last-child {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 ul.sub-menu {
    width: 220px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li.menu-item:not(:last-child),
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: var( --e-global-color-553bd25);
    border-bottom-width: 1px;
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 div.hfe-nav-menu-icon {
    color: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 div.hfe-nav-menu-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-117 .elementor-element.elementor-element-4e31ae5 {
    z-index: 100;
}

@media(max-width:1024px) {
    .elementor-117 .elementor-element.elementor-element-ca1e194 {
        margin-top: 0px;
        margin-bottom: -100px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li a.hfe-sub-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
}

@media(max-width:767px) {
    .elementor-117 .elementor-element.elementor-element-ca1e194 {
        margin-top: 0px;
        margin-bottom: -150px;
    }
    .elementor-117 .elementor-element.elementor-element-ad9f4ff {
        width: 60%;
    }
    .elementor-117 .elementor-element.elementor-element-cdd5761>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-117 .elementor-element.elementor-element-ad48619 {
        width: 40%;
    }
    .elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-117 .elementor-element.elementor-element-4e31ae5 .sub-menu li a.hfe-sub-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-117 .elementor-element.elementor-element-4e31ae5 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
}

@media(min-width:768px) {
    .elementor-117 .elementor-element.elementor-element-ad9f4ff {
        width: 13%;
    }
    .elementor-117 .elementor-element.elementor-element-ad48619 {
        width: 87%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-117 .elementor-element.elementor-element-ad9f4ff {
        width: 20%;
    }
    .elementor-117 .elementor-element.elementor-element-ad48619 {
        width: 80%;
    }
}