.elementor-129 .elementor-element.elementor-element-f286672>.elementor-background-overlay {
    opacity: 0.2;
}

.elementor-129 .elementor-element.elementor-element-4b1b382 .elementor-spacer-inner {
    --spacer-size: 50px;
}

.elementor-129 .elementor-element.elementor-element-b498800 .hfe-site-logo-container,
.elementor-129 .elementor-element.elementor-element-b498800 .hfe-caption-width figcaption {
    text-align: left;
}

.elementor-129 .elementor-element.elementor-element-b498800 .hfe-site-logo .hfe-site-logo-container img {
    width: 150px;
}

.elementor-129 .elementor-element.elementor-element-b498800 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-129 .elementor-element.elementor-element-b498800 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-129 .elementor-element.elementor-element-f45fe81 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-decoration: var( --e-global-typography-text-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-22dea5e.elementor-social-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-22dea5e.elementor-social-icon i {
    color: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-22dea5e.elementor-social-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-c4b81a8.elementor-social-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-c4b81a8.elementor-social-icon i {
    color: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-c4b81a8.elementor-social-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-5937bf7.elementor-social-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-5937bf7.elementor-social-icon i {
    color: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-repeater-item-5937bf7.elementor-social-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-widget-container {
    text-align: left;
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon i {
    color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-icon {
    border-radius: 50px 50px 50px 50px;
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon:hover i {
    color: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-0c6a1e9 .elementor-social-icon:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-212a19f {
    text-align: left;
}

.elementor-129 .elementor-element.elementor-element-212a19f .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    text-decoration: var( --e-global-typography-primary-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-212a19f>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 {
    --e-icon-list-icon-size: 14px;
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-text {
    color: var( --e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-decoration: var( --e-global-typography-text-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-3d852e0 {
    text-align: left;
}

.elementor-129 .elementor-element.elementor-element-3d852e0 .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    text-decoration: var( --e-global-typography-primary-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-3d852e0>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 {
    --e-icon-list-icon-size: 14px;
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-text {
    color: var( --e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-decoration: var( --e-global-typography-text-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-7fcd1a9 {
    text-align: left;
}

.elementor-129 .elementor-element.elementor-element-7fcd1a9 .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    text-decoration: var( --e-global-typography-primary-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-7fcd1a9>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 {
    --e-icon-list-icon-size: 14px;
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-text {
    color: var( --e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-decoration: var( --e-global-typography-text-text-decoration);
}

.elementor-129 .elementor-element.elementor-element-4e9fc1f {
    --divider-border-style: solid;
    --divider-color: #131A271C;
    --divider-border-width: 1px;
}

.elementor-129 .elementor-element.elementor-element-4e9fc1f .elementor-divider-separator {
    width: 100%;
}

.elementor-129 .elementor-element.elementor-element-4e9fc1f .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-129 .elementor-element.elementor-element-bdc8a6e:not(.elementor-motion-effects-element-type-background),
.elementor-129 .elementor-element.elementor-element-bdc8a6e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-dad16fc);
}

.elementor-129 .elementor-element.elementor-element-bdc8a6e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-129 .elementor-element.elementor-element-bdc8a6e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-e4d29ea>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
}

@media(max-width:1024px) {
    .elementor-129 .elementor-element.elementor-element-f286672 {
        padding: 20px 20px 20px 20px;
    }
    .elementor-129 .elementor-element.elementor-element-4b1b382 .elementor-spacer-inner {
        --spacer-size: 20px;
    }
    .elementor-129 .elementor-element.elementor-element-f45fe81 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-129 .elementor-element.elementor-element-f286672 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-129 .elementor-element.elementor-element-4ebccff>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-129 .elementor-element.elementor-element-f45fe81 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-d658625>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-acbb7e4 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-40d5943>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-7e2ba51 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-129 .elementor-element.elementor-element-aa21fc1>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-129 .elementor-element.elementor-element-ed89e08 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
}

@media(min-width:768px) {
    .elementor-129 .elementor-element.elementor-element-4ebccff {
        width: 40%;
    }
    .elementor-129 .elementor-element.elementor-element-d658625 {
        width: 20%;
    }
    .elementor-129 .elementor-element.elementor-element-40d5943 {
        width: 20%;
    }
    .elementor-129 .elementor-element.elementor-element-aa21fc1 {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-129 .elementor-element.elementor-element-4ebccff {
        width: 50%;
    }
    .elementor-129 .elementor-element.elementor-element-d658625 {
        width: 50%;
    }
    .elementor-129 .elementor-element.elementor-element-40d5943 {
        width: 50%;
    }
    .elementor-129 .elementor-element.elementor-element-aa21fc1 {
        width: 50%;
    }
}