.elementor-kit-4 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #AEBBCC;
    --e-global-color-accent: #FF7100;
    --e-global-color-553bd25: #2D2D47;
    --e-global-color-d1376a3: #12B371;
    --e-global-color-dad16fc: #171436;
    --e-global-color-7635c70: #FF330D;
    --e-global-typography-primary-font-family: "Lato";
    --e-global-typography-primary-font-weight: 800;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-secondary-font-family: "Lato";
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-text-font-family: "Lato";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 500;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-accent-font-family: "Lato";
    --e-global-typography-accent-font-size: 14px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-line-height: 19px;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-decoration: var( --e-global-typography-text-text-decoration);
    background-color: var( --e-global-color-553bd25);
}

.elementor-kit-4 a {
    color: var( --e-global-color-d1376a3);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-kit-4 h1 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 60px;
    font-weight: 800;
}

.elementor-kit-4 h2 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.elementor-kit-4 h3 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.elementor-kit-4 h4 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.elementor-kit-4 h5 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
}

.elementor-kit-4 h6 {
    color: var( --e-global-color-primary);
    font-family: "Lato", Sans-serif;
}

.elementor-kit-4 button,
.elementor-kit-4 input[type="button"],
.elementor-kit-4 input[type="submit"],
.elementor-kit-4 .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    line-height: var( --e-global-typography-accent-line-height);
    color: var( --e-global-color-primary);
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-accent) 0%, var( --e-global-color-7635c70) 100%);
    border-radius: 30px 30px 30px 30px;
    padding: 15px 70px 15px 70px;
}

.elementor-kit-4 button:hover,
.elementor-kit-4 button:focus,
.elementor-kit-4 input[type="button"]:hover,
.elementor-kit-4 input[type="button"]:focus,
.elementor-kit-4 input[type="submit"]:hover,
.elementor-kit-4 input[type="submit"]:focus,
.elementor-kit-4 .elementor-button:hover,
.elementor-kit-4 .elementor-button:focus {
    color: var( --e-global-color-primary);
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-7635c70) 0%, var( --e-global-color-accent) 100%);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-container {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-4 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-4 a {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-4 h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .elementor-kit-4 button,
    .elementor-kit-4 input[type="button"],
    .elementor-kit-4 input[type="submit"],
    .elementor-kit-4 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-container {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-4 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-4 a {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-4 h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .elementor-kit-4 h2 {
        font-size: 35px;
        line-height: 39px;
        word-spacing: 39px;
    }
    .elementor-kit-4 h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .elementor-kit-4 button,
    .elementor-kit-4 input[type="button"],
    .elementor-kit-4 input[type="submit"],
    .elementor-kit-4 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-container {
        --container-max-width: 767px;
    }
}